.productCard {
  width: 100%;
  padding: .25rem;
  display: grid;
  grid-template-columns: 40px 1fr 90px 80px;
  align-items: center;
}

.productCardTitle {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

.doneStatus {
  grid-template-columns: 40px 1fr 40px;
  background: darken(#fff, 20);

  & .productCardTitle {
    text-decoration: line-through;
  }
}

.productCardActions {
  display: flex;
}

.productCardCount {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.productCardCountButtons {
  display: flex;
  flex-direction: column;
}
